// Breakpoints
$bp-480: "max-width: 480px";
$bp-480-min: "min-width: 480px";
$bp-660: "max-width: 660px";
$bp-660-min: "min-width: 660px";
$bp-960: "max-width: 959px";
$bp-960-min: "min-width: 960px";
$bp-1200: "max-width: 1200px";
$bp-1200-min: "min-width: 1200px";

// Colors
$off-white: #E2DCD0;
$light-grey: #767676;
$light-grey-transparent: #767676cc;
$red: #993333;
$red-txt-light: #CE6C6C; // ADA compliant variation when used as text on dark backgrounds
$red-bg-light: #C55050; // ADA compliant variation when used as bg with white text
$blue: #6D909E;
$dark-grey: #222224;
$dark-grey-transparent: #222224ba;
$white: #ffffff;
$black: #000000;

// Font Sizes
$fs-small: 11px;
$fs-base: 14px;
$fs-medium: 1.8em;
$fs-large: 2.8em;
$fs-aca-large: 18px; // for ADA compliance on light backgrounds

// Layout
$max-width-desktop: 1200px;