// Breakpoints
$bp-480: "max-width: 480px";
$bp-480-min: "min-width: 480px";
$bp-660: "max-width: 660px";
$bp-660-min: "min-width: 660px";
$bp-960: "max-width: 960px";
$bp-960-min: "min-width: 960px";
$bp-1200: "max-width: 1200px";
$bp-1200-min: "min-width: 1200px";

// Colors
$off-white: #E2DFD0;
$light-grey: #767676;
$red: #993333;
$blue: #6D909E;
$dark-grey: #222224;
$white: #ffffff;
$black: #000000;

// Font Sizes
$fs-small: 11px;
$fs-base: 14px;
$fs-medium: 1.8em;
$fs-large: 2.8em;
$fs-aca-large: 18px; // for ACA compliance on light backgrounds