// ---------------------------------------------------------------------------------------------------------------------------------
//   Category Page Styling
// ---------------------------------------------------------------------------------------------------------------------------------
#category {
    max-width: $max-width-desktop;
    margin: 0 auto;
    > div {
        padding: 0 35px;
    }
    .heading-box {
        margin: 50px 0 15px 0;
        overflow: hidden;
    }
    .cat-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    div.card {
        @media screen and ($bp-960) {
            width: 48.5%;
        }
        @media screen and ($bp-660) {
            width: 100%;
            margin-bottom: 40px;
        }
        // Fix alignment of last row
        &:nth-last-of-type(2) {
            @media screen and ($bp-960-min) {
                margin-left: 3%;
            }
        }
        &:last-of-type {
            @media screen and ($bp-660-min) {
                margin-left: 3%;
            }
        }
    }
}