// ---------------------------------------------------------------------------------------------------------------------------------
//   Category Page Styling
// ---------------------------------------------------------------------------------------------------------------------------------
#category {
    h1 {
        text-align: center;
        border-bottom: 4px solid $dark-grey;
        margin: 0;
        padding: 25px 0;
        @media screen and ($bp-960-min) {
            text-align: left;
            max-width: $max-width-desktop;
            margin: 0 auto;
        }
    }
    .design-1 {
        @media screen and ($bp-960-min) {
            margin: 50px auto;
            box-sizing: border-box;
            .item {
                margin-bottom: 25px;
                &:last-of-type {
                    margin-right: 2%;
                }
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            }
        }
    }
}