.heading-box {
    padding-bottom: 50px;
    display: flex;
    width: 100%;
    overflow: hidden;
    &.heading-right {
        justify-content: flex-end;
        .hp-heading {
            &:after {
                right: 0;
                left: initial;
                bottom: -10px;
            }
        }
    }
    &.heading-center {
        justify-content: center;
        .hp-heading {
            &:after {
                width: 100%;
            }
        }
    }
}
.heading-box {
    h1, h2, h3 {
        line-height: 1.2em;
    }
    p {
        color: $light-grey;
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 5px;
    }
}
.post-category {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    a {
        display: block;
        text-transform: uppercase;
        font-size: $fs-small;
        color: $red;
        font-weight: 600;
        transition: all 1s;
        padding: 5px 7px;
        &:hover {
            background: $red;
            color: $white;
            text-decoration: none;
        }
    }
}