// ---------------------------------------------------------------------------------------------------------------------------------
//   Header
// ---------------------------------------------------------------------------------------------------------------------------------
.navbar {
    margin-bottom: 20px;
    border-bottom: 6px solid $light-grey;
    background-color: $dark-grey;
    box-shadow: 0 0 5px $black;
    position: relative;
    @media screen and ($bp-960-min) {
        padding:0;
        .container {
            position: relative;
        }
    }
}
.navlogo {
    width: 100%;
    padding: 25px 0;
    position: relative;
    a {
        max-width: 17%;
        display: block;
        margin: 0 auto;
    }
    @media screen and ($bp-960-min) {
        display: inline-block;
        width: auto;
        padding: 15px 0;
        a {
            max-width: 120px;
            margin-left: 25px;
        }
    }
}
/* Navigation */
.navbar .navigation {
    display: none;
    @media screen and ($bp-960-min) {
        display: block !important; // important counteracts bug with mobile nav JS
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        ul {
            margin: 0;
        }
    }
}
.navbar .nav-icon {
    display: block;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:after {
        @extend .material-icons;
        content: "menu";
        color: $white;
        font-size: 35px;
    }
    &.open:after {
        content: "menu_open";
    }
    @media screen and ($bp-960-min) {
        display: none;
    }
}
.navbar ul {
    padding-left: 0;
    margin: 0;
    @media screen and ($bp-960-min) {
        height: 100%;
    }
}
.nav > li {
    @media screen and ($bp-960-min) {
        padding-right: 25px;
    }
}
.navbar li {
    position: relative;
    background: $light-grey;
    @media screen and ($bp-960-min) {
        display: inline-block;
        margin-right: 0px;
        height: 100%;
        background: none;
        &:last-of-type ul.sub-menu {
            right: -25px;
        }
    }
}
.navbar li a {
    transition: 0.3s;
    padding: 16px 0;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    display: block;
    border-top: 2px solid $white;
    padding-left: 25px;
    box-sizing: border-box;
    @media screen and ($bp-960-min) {
        height: 100%;
        border: 0;
        margin-right: 30px;
        padding: 48px 0 48px 2px;
        &:hover {
            color: $red;
        }
    }
}
// hover & sub-menu styling
.navbar li {
    &:hover > a, &.open > a {
        background: $dark-grey;
    }
    &.open ul.sub-menu {
        display: block;
        @media screen and ($bp-960-min) {
            display: block;
            top: 50px;
        }
    }
    &.menu-item-has-children > a:after {
        @extend .material-icons;
        content: 'keyboard_arrow_right';
        display: inline-block;
        position: absolute;
        padding-left: 5px;
        top: 15px;
        @media screen and ($bp-960-min) {
            top: 44px;
        }
    }
    &.menu-item-has-children.open > a:after {
        content: 'keyboard_arrow_down';
    }
    @media screen and ($bp-960-min) {
        &:hover a {
            color: $red;
        }
        &:hover .sub-menu {
            display: block;
            height: auto;
            padding-top: 7px;
        }
        &:hover.menu-item-has-children > a:after {
            content: 'keyboard_arrow_down';
        }
        &:last-of-type ul.sub-menu {
            right: 25px;
            left: auto;
        }
    }
}
.navbar ul.sub-menu {
    display: none;
    background: #cccccc;
    z-index: 1;
    li {
        display: block;
        a{
            color: $white;
            white-space: nowrap;
            padding-left: 50px;
        }
    }
    @media screen and ($bp-960-min) {
        position: absolute;
        left: 0;
        padding-left: 0;
        box-shadow: 8px 16px 20px $black;
        background: $light-grey;
        li {
            height: auto;
            a {
                padding: 15px 15px 15px 25px;
                padding-right: 0;
            }
        }
    }
}
.navbar .followBTN {
    display: none;
}