/* ------------------------------------------------------------------------------------
    General styles
 --------------------------------------------------------------------------------------- */
.home {
    h3 {
        font-size: $fs-medium-large;
    }
    h3 i {
        display: block;
        color: $white;
        @media screen and ($bp-960-min) {
            display: none;
        }
    }
}
.hp-heading {
    // color: $white;
    // text-align: center;
    // background-color: $dark-grey;
    // border-top: 6px solid $light-grey;
    // border-bottom: 6px solid $red;
    // padding: 26px 0px 6px 0px;
    margin: 0 0;
    line-height: 22px;
    position: relative;
    // @media screen and ($bp-960-min) {
        color: $dark-grey;
        text-align: left;
        background: none;
        border: 0;
        padding: 0 0 15px 0;
        display: inline-block;
        text-transform: uppercase;
        &:after {
            content: "";
            height: 4px;
            position: absolute;
            width: 1920px;
            left: 0;
            bottom: -10px;
            background-color: $dark-grey;
            opacity: .1;
        }
    // }
    .line{
        content: "";
        background: #933;
        display: inline-block;
        width: 100%;
        height: 4px;
        bottom: -10px;
        right: 0;
        position: absolute;
    }
}
.heading-right {
    justify-content: flex-end;
    .hp-heading {
        &:after {
            right: 0;
            left: initial;
            bottom: -10px;
        }
    }
}

/* ------------------------------------------
  Recent Content
--------------------------------------------- */
.recent-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $max-width-desktop;
}
.recent-content {
    --gutter: 3%;
    padding: .5%;
    .item {
        &.ct-1 {
            background: lighten($light-grey, 40%);
            &:hover {
                background: lighten($light-grey, 55%);
            }
            img {
                @media screen and (min-width: 960px) and (max-width: 1100px) {
                    width: auto;
                    height: 100%;
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
                @media screen and (min-width: 1021px) {
                    width: 100%;
                    height: auto;
                }
            }
            @media screen and (max-width: 961px) {
                width: 100%;
                a {
                    display: flex;
                    flex-direction: column;
                }
                .item-link-container,
                .card-img,
                .card-desc {
                    width: 100%;
                }
            }
        }
        &.ct-3 {
            @media screen and (min-width: 962px) {
                width: 65.5%;
            }
        }
        &.ct-2, &.ct-4, &.ct-5 {
            @media screen and (min-width: 962px) {
                margin-right: var(--gutter);
            }
        }
        @media screen and (max-width: 961px) {
            width: 48.5%;
            &.ct-6 {
                display: none;
            }
        }
        @media screen and (max-width: 660px) {
            width: 100%;
        }
    }
    .ct-1 .item-link-container {
        flex-direction: row;
        justify-content: space-between;
    }
}
/* ------------------------------------------
  Remaining Content
--------------------------------------------- */
.main-content section {
    padding: 20px;
    @media screen and ($bp-960-min) {
        margin: 0 auto;
        padding: 35px;
        box-sizing: border-box;
    }
}

/* ------------------------------------------
  New Releases
--------------------------------------------- */
.main-content .featured-albums {
    background: $dark-grey;
    margin-top: 25px;
    padding: 60px 20px 60px 20px;
    margin-bottom: 30px;
    @media screen and ($bp-960-min) {
        padding: 100px 20px 130px 20px;
        .container {
            max-width: $max-width-desktop;
            margin: 0 auto;
        }
    }
    h3 {
        color: $white;
        &:after {
            background: $white;
        }
    }
}
.featured-albums .album-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    flex-wrap: wrap;
}
.featured-albums div.album {
    position: relative;
    .albumimg {
        width: 50%;
    }
    @media screen and ($bp-960) {
        width: 100%;
        margin-bottom: 20px;
        &:last-of-type {
            border: 0;
        }
        &.ct-1 .albumdesc, &.ct-3 .albumdesc {
            margin-left: 50%;
        }
        &.ct-2 .albumimg, &.ct-4 .albumimg {
            margin-left: 50%;
        }
        .albumdesc{
            background: #f6f6f6;
            a {
                display: flex;
                align-items: center;
            }
            h2 {
                font-size: $fs-medium-large;
                width: 100%;
            }
            h2, p {
                color: $black;
            }
        }
        
    }
    @media screen and ($bp-960-min) {        
        width: 23%;
        .albumimg {
            width: 100%;
            overflow: hidden;
        }
        &:nth-last-of-type(1) {
            margin-right: 0;
        }
        &:hover img {
            transform: scale(1.1);
            transition: 1s;
        }
    }
}
.albumdesc {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 25px;
    box-sizing: border-box;
    background: $light-grey-transparent;
    width: 50%;
    h2, p {
        color: $white;
    }
    a {
        display: block;
        height: 100%;
        position: relative;
        text-align: center;
    }
    p {
        @media screen and (max-width: 575px) {
            display: none;
        }
        @media screen and ($bp-960-min) and ($bp-1200) {
            display: none;
        }
    }
    h2 {
        margin-top: 0;
        text-align: center;
    }
    @media screen and ($bp-960-min) {
        opacity: 0;
        width: 100%;
        .album:hover & {
            opacity: 1;
            transition: .5s;
        }
    }
}

/* ------------------------------------------
  Artist Spotlight
--------------------------------------------- */
.upcoming-artists {
    .heading-box {
        width: 100%;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: $max-width-desktop;
        margin: 0 auto;
    }
    @media screen and (max-width: 960px) {
        .card {
            width: 100%;
        }
    }
}