/* ------------------------------------------------------------------------------------
    General styles
 --------------------------------------------------------------------------------------- */
 .not_featured {
    clear: both;
}
.home {
    h3 i {
        display: block;
        @media screen and ($bp-960-min) {
            display: none;
        }
    }
}
/* ------------------------------------------------------------------------------------------------------------------------------
  Featured Content Area
--------------------------------------------------------------------------------------------------------------------------------- */
.featuredcontent {
    margin-top: -15px;
    overflow: hidden;
    h2 {
        margin: 10px 0 0 0;
    }
}
.ft_content {
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
    width: 100%;
    padding: 0 0;
    margin: 0 0;
    img {
        width: 100%;
        @media screen and ($bp-960-min) {
            width: 65%;
        }
    }
    button {
        display: none;
        @media screen and ($bp-660-min) {
            display: block;
        }
    }
    h2 {
        margin-top: 10px;
        @media screen and ($bp-1200-min) {
            font-size: $fs-large;
        }
    }
    p {
        display: none;
        @media screen and ($bp-480-min) {
            display: block;
        }
    }
}
.ft_content:hover .ft_desc, .content:hover .desc {
    transform: rotate(-2deg);
    background: black;
    opacity: 0.8;
    transition: 1s;
}
.ft_desc {
    bottom: 0;
    right: 0;
    padding: 15px;
    display: inline-block;
    background: #000;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    @media screen and ($bp-960-min) {
        width: 35%;
        position: absolute;
    }
    .ft_content:hover & {
        transform: none;
        opacity: 1;
    }
}
.ft_content:hover img, .content:hover img {
    transform: scale(1.1);
    transition: 1s;
}
.postcategory a {
    color: white;
}
/* ------------------------------------------
  Recent Content
--------------------------------------------- */
.recent_item {
    position: relative;
    overflow: hidden;
    text-align: left;
    @media screen and ($bp-660-min) {
        width: 49.675%;
        display: inline-block;
        &:nth-of-type(1n + 5) {
            margin-top: .25%;
        }
        &:nth-of-type(2n) {
            margin-right: .65%;
        }
    }
}
.recent_desc {
    position: absolute;
    bottom: 0;
    padding: 8px;
    background: black;
    opacity: 0.8;
    width: 100%;
    box-sizing: border-box;
}
.recent_desc h2 {
    margin: 8px 0 0 0;
}
.recent_desc p {
    margin: 0;
    display: none;
    @media screen and ($bp-480-min) {
        display: block;
    }
}
.recent_desc .postcategory a {
    margin-top: 100px;
}
/* Transformation Effects */
 .recent_item:hover .ri_img img {
        transform:  scale(1.05);
        transition: 1s;
    }  
.recent_item:hover .recent_desc {
    opacity: .9;
    transition: 1s;
}
/* ------------------------------------------
  New Releases
--------------------------------------------- */
.newreleases {
    position: relative;
    width: 100%;
    display: inline-block;
}
 div.album {
    width: 50%;
    float: left;
    overflow: hidden;
    @media screen and ($bp-960-min) {
        width: 24%;
        height: 19%;
        margin-right: 1.25%;
        position: relative;
        &:nth-last-of-type(1) {
            margin-right: 0;
        }
    }
}
.albumdesc {
    position: absolute;
    top: 40%;
    left: 40%;
    display: none;
    @media screen and ($bp-960-min) {
        top: 30%;
        left: 20%;
        display: none;
    }
}
/* Transformation Effects */
.album:hover img {
    transform: scale(1.1);
    transition: 1s;
}
/* ------------------------------------------
  Upcoming Artists
--------------------------------------------- */
.upcomingartist {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.ua_desc {
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    width: 100%;
}
/* Transformation Effects */
.upcomingartist:hover img {
    transform: scale(1.1);
    transition: 1s;
    }
 .upcomingartist:hover .ua_desc {
    transform: rotate(-2deg);
    background: black;
    transition: 1s;
}