// ------------------------------------------------------------------------------------------------------------------------------
//  Shared Layout Styles
// ------------------------------------------------------------------------------------------------------------------------------

.card {
    --gutter: 3%;
    --one-third: calc(94% / 3);
    background: lighten($light-grey, 50%);
    margin-bottom: var(--gutter);
    transition: box-shadow .3s;
    transition: background-color 1s;
    position: relative;
    &.full-width {
        width: 100%;
        .card-img {
            width: 65%;
        }
        .card-desc {
            width: 32%;
            box-sizing: border-box;
        }
    }
    &.one-third {
        width: var(--one-third);
    }
}
.card {
    &:hover {
        box-shadow: 1px 1px 7px #00000069;
        background: lighten($light-grey, 55%);
        h2 {
            color: $red;
            text-decoration: underline;
        }
        img {
            transform: scale(102%);
            filter: brightness(1.2);
        }
    }
    h2 {
        font-size: $fs-large;
        transition: color 1s;
        @media screen and (max-width: 1050px) {
            font-size: $fs-medium-large;
        }
    }
    p {
        font-size: $fs-medium-small;
        margin-bottom: 0;
    }
    .card-img {
        overflow: hidden;
        img {
            transition: all .6s;
        }
    }
    .card-desc {
        flex-grow: 1;
        padding: 0 25px 25px 25px;
    }
    .item-link-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .post-category {
        position: absolute;
        top: 0;
        left: -0;
        z-index: 2;
        a {
            display: block;
            text-transform: uppercase;
            font-size: $fs-small;
            // background: $dark-grey-transparent;
            background: $red;
            color: $white;
            padding: 10px 15px;
            &:hover {
                background: $dark-grey;
                text-decoration: none;
            }
        }
    }
}