// ------------------------------------------------------------------------------------------------------------------------------
//  Shared Layout Styles
// ------------------------------------------------------------------------------------------------------------------------------

.card {
    --gutter: 3%;
    --one-third: calc(94% / 3);
    background: lighten($light-grey, 50%);
    margin-bottom: var(--gutter);
    transition: box-shadow .3s;
    transition: background-color 1s;
    position: relative;
    &.full-width {
        width: 100%;
        .card-img {
            width: 66%;
        }
        .card-desc-container {
            width: 30%;
            margin: 0 2%;
            box-sizing: border-box;
        }
    }
    &.one-third {
        width: var(--one-third);
    }
}
.card {
    &:hover {
        box-shadow: 1px 1px 7px #00000069;
        background: lighten($light-grey, 55%);
        img {
            transform: scale(102%);
            filter: brightness(1.2);
        }
    }
    h2 {
        font-size: $fs-medium-large;
        transition: color 1s;
        margin: 0;
        text-align: center;
        &:hover {
            color: $red;
            text-decoration: underline;
        }
        @media screen and (max-width: 1050px) {
            font-size: $fs-medium-large;
        }
    }
    p {
        font-size: $fs-medium-small;
        margin-bottom: 0;
        text-align: center;
    }
    .card-img {
        overflow: hidden;
        img {
            transition: all .6s;
        }
    }
    .card-desc {
        flex-grow: 1;
        padding: 10px 25px 35px 25px;
    }
    .item-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}