// Media Queries
// To be removed as I refactor the css

@media screen and ($bp-960-min) {
    /* General Layout/Etc. */
    .contentarea {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .invisible {
        width: 100%;
        display: inline-block;
    }
    .dhide {
        display: none;
    }
    .mnone {
        display: block;
    }
    .post p {
        padding-right: 50px;
    }
    /* ------------------------------------------
    Featured Content Area -TF
    --------------------------------------------- */
    .ft_content {
        ._img {
            width: 66%;
            display: inline-block;
        }
    }

    /* ------------------------------------------
      Recent News & Features -TF
    --------------------------------------------- */
    .recentnews {
        text-align: justify;
        position: relative;
    }
    .headingbox {
        padding-bottom: 15px;
        overflow: hidden;
    }
    .headingbox p {
        color: #666666;
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 5px;
    }
}