// ---------------------------------------------------------------------------------------------------------------------------------
//   Posts Page Styling
// ---------------------------------------------------------------------------------------------------------------------------------

#blogcontent-area {
    .heading-container {
        padding: 5% 5% 3.5% 5%;
        text-align: center;
    }
    .post-container {
        margin: 0 15px;
        @media screen and ($bp-960-min) {
            margin: 0 20%;
        }
    }
    .blogimg {
        position: relative;
    }
}

/*--------------------------------------------------
    Post Content
--------------------------------------------------*/
.post {
    margin-top: 25px;
    padding: 0px 15px;
    position: relative;
    p, a, i, span, strong, em, ul, li, b {
        font-size: 21px;
        line-height: 35px;
    }
    a {
        color: $red;
        text-decoration: underline;
        &:hover {
            text-decoration: underline;
        }
    }
    figure {
        margin-left: 0;
    }
    @media screen and ($bp-960-min) {
        width: 100%;
        padding: 0 2% 0 3%;
        box-sizing: border-box;
        p {
            padding-right: 50px;
        }
    }
    @media screen and ($bp-660) {
        iframe, table {
            width: 100%;
            height: 100% !important;
        }
    }
    @media screen and ($bp-480) {
        word-wrap: break-word;
    }
}
.post .share-container {
    > span {
        font-family: $header-font;
    }
}
.post .share {
    display: flex;
    justify-content: space-around;
    margin: 0 40px 40px 0;
    a {
        border: 1px solid $light-grey;
        padding: 10px;
        text-align: center;
        flex-grow: 1;
        span {
            margin: 0 auto;
            display: inline-block;
            vertical-align: middle;
        }
    }
    img {
        width: 25px;
        height: 25px;
    }
}