// ---------------------------------------------------------------------------------------------------------------------------------
//   Posts Page Styling
// ---------------------------------------------------------------------------------------------------------------------------------

#blogContentArea {
    .heading-container {
        padding: 5% 5% 3.5% 5%;
        text-align: center;
    }
    .post-container {
        margin: 0 20%;
        p {
            font-size: 21px;
            line-height: 35px;
        }
    }
    .blogimg {
        position: relative;
    }
    @media screen and ($bp-960-min) {
        .addthis_inline_share_toolbox {
            position: absolute;
            position: sticky;
            float: left;
            margin-left: -75px;
            margin-top: 100px;
            top: 100px;
            a {
                display: block;
            }
        }
        
    }
}

/*--------------------------------------------------
    Post Content
--------------------------------------------------*/
.post {
    margin-top: 25px;
    padding: 0px 15px;
    position: relative;
    a, i, span, strong {
        font-size: inherit;
    }
    a {
        color: $red;
        text-decoration: underline;
        &:hover {
            text-decoration: underline;
        }
    }
    figure {
        margin-left: 0;
        text-align: center;
    }
    @media screen and ($bp-960-min) {
        width: 100%;
        padding: 0 2% 0 3%;
        box-sizing: border-box;
        p {
            padding-right: 50px;
        }
    }
}