/*--------------------------------------------------
  General CSS
--------------------------------------------------*/
a {
    color: inherit;
}
#blogcontentarea h1 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
#blogcontentarea h3 {
    font-size: 28px;
    letter-spacing: -.5px;
}
.header_post_float h3 {
    margin: 25px 0 -10px 0px;
}
.postcategory a:hover {
    opacity: 1.0;
    text-decoration: none;
}
#blogcontentarea img {
    width: 100%;
    height: 100%;
}
/* Sidebar/Widgets Heading Sizes */
.relatedcontent h2, .latestposts h2 {
    font-size: 1.2em;
}


/*--------------------------------------------------
    Header 
--------------------------------------------------*/
#bootstrap-overrides .blogtitle, #bootstrap-overrides .blogtitle a {
    color: white;
}
.blogheader {
    margin-top: -20px;
    position: relative;
}
.blogtitle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-left: 10px;
    text-decoration: none;
    text-shadow: 2px 2px black;
}
.blogimg img {
    width: 100%;
    height: 100%;
}
.blogtitleh1 h1 {
    margin: 10px 0;
}


/*--------------------------------------------------
    Content
--------------------------------------------------*/
.post {
    margin-top: 25px;
    padding: 0px 15px;
}
.post p {
    line-height: 1.8em;
}
.post h2 {
    color: black;
}


/*-------------------------------------------------- 
    About The Author 
--------------------------------------------------*/
.abouttheauthor {
    border: 5px solid #cccccc;
    margin: 25px 0px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.5);
}
.abouttheauthor img {
    width: 60px !important;
    border-radius: 50%;
    float: right;
}
.abtinfo {
    float: left;
    margin-top: 25px;
    line-height: 1px;
}
.abtinfo h4 {
    font-weight: 600;
}
.abtabout {
    clear: both;
}
    /*-- W/ plugin --*/
.abh_box_business {
    border: 5px solid #cccccc;
    margin: 25px 0px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.5);
}


/*--------------------------------------------------
    Latest Posts 
--------------------------------------------------*/
 .latestposts {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}
.latestposts img {
    width: 100%;
    height: 100%;
}
.latestposts h2 {
    margin: 10px 0;
}
.latestposts p {
    margin: 0 0;
}
.lpitem {
    position: relative;
    overflow: hidden;
}
.lpitem:hover {
    opacity: 1;
    transition: 1s;
}
.lpitem:hover img {
    transform: scale(1.1);
    transition: 1s;
}
.lpmeta {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 10px 15px 10px;
}
.lpmeta, .lpmeta a {
    color: white;
}
.latestposts h4 {
    font-weight: 600;
    text-shadow: 2px 1px black;
}
.latestposts p {
    text-shadow: 2px 1px black;
}
#blogcontentarea .hpheading {
    /* display: block; */
}
#blogcontentarea .hpheading h3 {
    position: relative;
    display: inline-block;
    font-weight: 600px;
}



/*--------------------------------------------------
    Also Like 
--------------------------------------------------*/
.relatedcontent {
    clear: both;
}
.relatedcontent img {
    width: 100%;
    height: 100%;
}
.relatedcontent p {
    color: white;
    font-size: 12px;
}


/*----------------------------------------------------------------------------------------------------

    MEDIA QUERIES

----------------------------------------------------------------------------------------------------*/
@media screen and (min-width:600px) {
    h1 {
        font-size: 39px;
    }
    .relatedcontent h2 {
        font-size:  34px;
    }
    .relatedcontent p {
        font-size: 14px;
    }
    .post p, .page p {
        font-size: 1.1em;
    }
    #blogcontentarea h1 {
    font-size: 2em;
}
}

@media screen and (min-width:900px) {
    /* Blog Area */
    div#blogcontentarea {
        padding: 0 2.5%;
    }
    #blogcontentarea .header_post_float p {
        font-size: 16px;
        line-height: 2.2em;
    }
    #blogcontentarea .header_post_float {
        width: 66%;
        display: inline-block;
        float: left;
        overflow: hidden;
    }
    .blogheader img {
        width: 100%;
        height: 100%;
    }
    .blogheader {
        margin-top: 30px;
    }
    .post {
        width: 100%;
        padding: 0px 0px 0px 0px;
    }
    #blogcontentarea h1 {
        font-size: 2.5em;
        padding-right: 20px;
}
    
    /* Sidebar */
    .lp_block {
        width: 30%;
        margin-left: 4%;
        float: right;
        display: inline-block;
    }
    .latestposts h3 {
        text-align: right;
    }
    .lpitem {
    opacity: .5;
    }
    
    
    /* Related content & Bellow */
    .relatedcontent {
        padding: 0 3%;
    }
    .recent_item h2 {
        font-size: 25px;
    }
    .recent_item:nth-of-type(1n + 5) {
        margin-top: .65%;
    }
    .recent_item:nth-of-type(3n + 2), .recent_item:nth-of-type(3n + 3) {
    margin-right: .65%;
    }
    /* Category Page */
    .cat_latestposts {
        padding-top: 35px;
    }
}